@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');



$main-black:#1A2026;
$main-white:#FBF8F5;
$main-gray:rgba(199, 199, 199, 0.333);
$main-light:#fcf7f1;
$main-a-gray:#555;
$main-baground-black: #32262680;
$main-border-block:#7c7c7ccc;


@mixin main-button{
    background-color: transparent;
    border: 1px solid $main-black;
    border-radius: 5px;
    padding: 5px 5px;
    font-weight: 600;
    transition: 0.5s;
}



@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  