@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  margin: 0;
}

.woocommerce-product-gallery {
  width: 25%;
}

.woocommerce-product-gallery__image {
  display: flex !important;
  justify-content: center;
}

.flex-control-thumbs {
  justify-content: center;
  display: flex;
}

.main-product {
  display: flex;
  justify-content: flex-end;
  color: #1A2026;
  font-family: "Merriweather", serif;
  padding: 2rem 0px 0px 0rem;
}

.product-type-variable > a {
  text-decoration: none;
  color: #1A2026;
  font-family: "Merriweather", serif;
}

.woocommerce-loop-product__link {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 257px;
  text-align: center;
}

.woocommerce-variation-add-to-cart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.woocommerce-breadcrumb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #1A2026;
  font-family: "Merriweather", serif;
}

.woocommerce-breadcrumb > a {
  text-decoration: none;
  color: #555;
}

.product_title {
  font-size: 24px;
  font-family: "Merriweather", serif;
  color: #1A2026;
}

.variations {
  font-family: "Merriweather", serif;
  color: #1A2026;
}

.quantity {
  width: 18%;
}

.quantity > input {
  width: 60%;
}

.single_add_to_cart_button {
  background-color: transparent;
  border: 1px solid #1A2026;
  border-radius: 5px;
  padding: 5px 5px;
  font-weight: 600;
  transition: 0.5s;
  margin: 0rem 1rem;
}

.single_add_to_cart_button:hover {
  color: #555;
  border: 1px solid #555;
}

.tinv-wishlist.tinvwl-after-add-to-cart .tinvwl_add_to_wishlist_button {
  margin: 0 !important;
}

.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart-plus:before {
  font-size: 27px !important;
}

.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart-plus.no-txt:before {
  margin-top: -17px !important;
  margin-left: -10px !important;
}

.product_meta {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem 0rem;
}

.product_meta > span {
  padding: 0.1rem 0rem;
}

.reset_variations {
  text-decoration: none;
  color: #1A2026;
}

.woocommerce-product-details__short-description {
  width: 50%;
}

.entry-summary {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0rem 3rem;
  width: 44%;
}

.product_meta > span > a {
  text-decoration: none;
  color: #555;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
  width: auto !important;
}

.flex-control-nav > li {
  padding: 0rem 0.2rem;
}

.woocommerce-Reviews {
  padding: 2rem 0px 0px 32rem;
  width: 35%;
}

.woocommerce-product-rating {
  display: flex;
  color: #1A2026;
}

.star-rating span::before {
  color: #1A2026 !important;
}

.woocommerce-product-rating > a {
  color: #555;
  text-decoration: none;
}

.input-text {
  display: flex;
  justify-content: center;
  text-align: center;
}

p.stars:hover a::before {
  color: #1A2026 !important;
}

.form-submit > .submit {
  background-color: transparent;
  border: 1px solid #1A2026;
  border-radius: 5px;
  padding: 5px 5px;
  font-weight: 600;
  transition: 0.5s;
}

.comment-form-comment > textarea {
  border: 1px solid #1A2026;
  border-radius: 5px;
  padding: 5px 5px;
}

.commentlist > li {
  border: 1px solid #1A2026;
  border-radius: 5px;
  padding: 15px 20px;
  margin: 1rem 0rem;
}

.comment-text > meta {
  font-size: 16px;
}

.comment-author-user::marker {
  display: none;
}

.qty_button {
  cursor: pointer;
}

.woocommerce-message {
  padding: 0.5rem 0.5rem;
  text-align: center;
  width: 24%;
  border-radius: 10px;
}

.woocommerce-notices-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
}

.woocommerce-message > a {
  color: #FBF8F5;
}

.comment-respond {
  font-family: "Merriweather", serif;
  color: #1A2026;
}

.comment-form-author > input {
  border: 1px solid #1A2026;
  border-radius: 5px;
  padding: 5px 5px;
}

.comment-form-email > input {
  border: 1px solid #1A2026;
  border-radius: 5px;
  padding: 5px 5px;
}

.commentlist {
  list-style: none;
  padding: 0;
}

.woocommerce-noreviews {
  padding: 15px 10px;
  text-align: center;
  border: 1px solid #1A2026;
  border-radius: 5px;
  background-color: transparent !important;
}/*# sourceMappingURL=cart.css.map */