@import 'variables';
.swiper-slide>a>img{
    width: 100% !important;
    height: 100% ;
}
.front-section{
    padding: 0rem 0rem 0rem 6rem;
    display: flex;
}
.slider_baner{
    width: 68%;
    
}
.swiper{
    height: 45.5rem;
    border: 1px solid $main-border-block;
}
.catigories{
    padding: 0rem 0rem 0rem 2rem;
}
.block-categores{
    width: 67%;
    height: 20%;
    padding: 0rem 0rem 1rem 0rem;
}
.block-categores>a{
    position: absolute;
    width: 17.7%;
    height: 24.2%;
    text-decoration: none;
    color: $main-white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;
    justify-content: flex-start;
    padding: 0rem 1rem;
    background-color: $main-baground-black;
    transition: 0.5s;
    display: none;
}
.block-categores>h1{
    font-family: 'Merriweather', serif;
}
.block-categores:hover>a{
display: flex;
animation-name: fadeIn;
animation-duration: 0.7s;
animation-fill-mode: forwards;
}
.block-categores:hover>img{
    box-shadow: 0px 2px 9px 0px black;
}
.block-categores>img{
    width: 100%;
    height: 100%;
    border: 1.5px solid $main-border-block;
}
.mega-sub-menu>li>a{
    background-color: $main-light !important;
    border: 1px solid $main-black !important;
    border-radius: 10px !important;
    width: 65% !important;
}


.section-information{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
    padding: 20rem 6rem;
}
.block-information{
    font-family: 'Merriweather', serif;
    color: $main-black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block-information>h3{
    font-size: 1.5rem;
}
.block-information>span{
    font-size: 0.875rem;
}
.buy-now a{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
}
.buy-now picture img{
    width: 100%;
}
.buy-now div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    position: absolute;

    font-family: 'Merriweather', serif;
    color: $main-white;
    transform: translate(5rem, 10rem);
}
.buy-now div h1{
    font-size: 3rem;
    margin: 0;
    line-height: 0rem;
    font-weight: 700;
}
.buy-now div span{    
    font-size: 1.2rem;
    margin: 0;
    line-height: 5rem;
    font-weight: 400;
}
.buy-now div button{
    font-family: 'Merriweather', serif;
    color: $main-black;
    background-color: $main-white;
    padding: 0.8rem 2.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.buy-now div button:hover{
background-color: $main-black;
color: $main-white;

}