@import 'variables';
body{
    background-color: $main-light;
}
.main-navigation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.header-section-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0rem;
}
.search_form>img{
    width: 16%;
}
.head{
    background-color: $main-black;
    color:$main-white;
    font-family: 'Merriweather', serif;
    font-weight: 700;

}
.mega-menu-link{
    font-weight: 700 !important;
}
.mega-menu-item{
    transition: 0.5s !important;
}
.mega-menu-item:hover{
    border-bottom: 1px solid $main-white !important;

}
.icon-menu>a{
    border: 1px solid $main-black;
    border-radius: 100%;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    transition: 0.5s;
}
.icon-menu>a:hover{
    background-color: $main-gray;
}
.search_form{
    width: 42%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.aws-container{
    width: 77%;
}
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link {
color: $main-white !important;

}